default: &default
  adapter: postgresql
  encoding: unicode

development:
  <<: *default
  database: absorv_development
  host: localhost

test:
  <<: *default
  database: absorv_test
  host: localhost
